{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Stock</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in history %}
                <tr>
                    <td>{{ stock.stock }}</td>
                    <td>{{ stock.number }}</td>
                    <td>{{ stock.price }}</td>
                    <td>{{ stock.time }}</td>
                </tr>
            {% endfor %}

        </tbody>
        <tfoot>
        </tfoot>
    </table>
{% endblock %}
